/**
 * font
 * @type {[type]}
 */
/**
 * border
 */
/**
 * backgroud
 */
/**
 * btn
 */
/**
 * icon
 */
/**
** color
*/
/*
*color only
*/
/* CSS Document*/
/* line 7, ../../jrmui/src/scss/ui/form.google.scss */
.jrm-form-item {
  height: 4.375rem;
}

/* line 11, ../../jrmui/src/scss/ui/form.google.scss */
.jrm-textfield-input {
  display: inline-block;
  margin: 0;
  padding-top: 2.3125rem;
  padding-bottom: 1.125rem;
  width: 100%;
  text-align: left;
  background: inherit;
  font-size: 1rem;
}

/* line 22, ../../jrmui/src/scss/ui/form.google.scss */
.jrm-form-lable {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 2.3125rem;
  width: 100%;
  color: #999999;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  pointer-events: none;
}

/* line 37, ../../jrmui/src/scss/ui/form.google.scss */
.jrm-textfield .jrm-form-lable {
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* line 43, ../../jrmui/src/scss/ui/form.google.scss */
.jrm-textfield.is-focused .jrm-form-lable {
  color: #508CEE;
  font-size: 0.75rem;
  top: 0.71875rem;
  visibility: visible;
}
/* line 51, ../../jrmui/src/scss/ui/form.google.scss */
.jrm-textfield .jrm-clear {
  margin-right: 0.5625rem;
}
